/**
 * @file
 * Stylesheet for the drush_dialog module.
 */
[id^="drush_dialog"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#drush_dialog-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}

.drush_dialog-form-wrapper {
  pointer-events: none;
  left: 0;
  width: 100%;
  position: fixed;
  top: 20%;
  z-index: 9999;
}
#drush_dialog-form {
  pointer-events: auto;
  position: relative;
  margin: 0 auto;
  max-width: 900px;
  width: 100%;
  padding: 10px;
  font: 16px/1.5 sans-serif;
  background: black;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 15px;
  opacity: 1;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s false;
}

#drush_dialog-form,
#drush_dialog-form input,
#drush_dialog-form a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.drush_dialog-form-wrapper.hide-form {
  position: absolute;
  top: -100%;
  opacity: 0;
}

#drush_dialog-form-inner {
  background: #222;
  color: #aaa;
  padding: 10px 10px 1px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.6);
}

#drush_dialog-q {
  background: #222;
  color: #3fa21c;
  border: 0;
  line-height: 52px;
  padding: 5px 10px;
  width: 80%;
  height: 52px;
  outline: none;
  /*display: block;*/
  margin: 0 0 10px;
  border-radius: 0;
}

#drush_dialog-q:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#drush_dialog-form-inner label {
  color: #3fa21c;
}

#drush_dialog-form-inner label:after {
  content: '';
}

#drush_dialog-results {
  max-height: 500px;
  overflow: auto;
}

[dir="rtl"] #drush_dialog-q {
  background-position: left 20px center;
}

#drush_dialog-results .drush-command {
  color: #3fa21c;
}

.spinner {
  margin: 0px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #aaa;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}
